@charset "UTF-8";

:root {
    --my-blue: #0d6efd;
    --my-indigo: #6610f2;
    --my-purple: #6f42c1;
    --my-pink: #d63384;
    --my-red: #dc3545;
    --my-orange: #fd7e14;
    --my-yellow: #ffc107;
    --my-green: #198754;
    --my-teal: #20c997;
    --my-cyan: #0dcaf0;
    --my-white: #fff;
    --my-gray: #6c757d;
    --my-gray-dark: #343a40;
    --my-primary: #0d6efd;
    --my-secondary: #6c757d;
    --my-success: #198754;
    --my-info: #0dcaf0;
    --my-warning: #ffc107;
    --my-danger: #dc3545;
    --my-light: #f8f9fa;
    --my-dark: #212529;
    --my-font-sans-serif: 'Inter', sans-serif;
    --my-font-monospace: "IBM Plex Mono", monospace;
    --my-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--my-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--my-white);
    background-color: var(--my-gray-dark);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    margin-left: 5rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap
}

.dropdown-title {
    display: block;
    width: 100%;
    padding: 1rem 0rem .5rem;
    clear: both;
    font-weight: 400;
    color: var(--my-white);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-title:focus,
.dropdown-title:hover {
    color: var(--my-white);
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 0rem .25rem 0rem;
    clear: both;
    font-weight: 400;
    color: var(--my-gray);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 15px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--my-white);
    background-color: transparent;
}

.dropdown-menu {
    display: grid;
    grid-template-columns: 6fr 1fr;

    position: absolute;
    top: 3rem;
    left: -27.3rem;
    z-index: 1000;
    display: none;
    height: 525%;
    width: 2390%;
    padding: .5rem 5rem;
    margin: 0;
    font-size: 1rem;
    color: var(--my-gray);
    text-align: left;
    list-style: none;
    background-color: var(--my-dark);
    background-clip: padding-box;
    border: 0;
}

.nav-item{
    margin-left: 1rem;
}

.navbar-toggler{
    margin-right: 1rem;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.icon{
    margin-right: 1rem;
    padding: .5rem .5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    position:absolute;
    top: .5rem;
    right:5rem;
}